@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital@1&family=Dynalight&family=Lora&display=swap');

body{
    width: 100%;
}

.element-animation {
  opacity: 0;
}
.down-animate{
    transform: translateY(20px);
}
.right-animate{
    transform: translateX(20px);
}
.left-animate{
    transform: translateX(-20px);
}
.element-animation.down-animate.element-show {
  opacity: 1;
  transition: all 1.5s;
  transform: translateY(0%);
}
.element-animation.left-animate.element-show {
  opacity: 1;
  transition: all 1.5s;
  transform: translateX(0%);
}
.element-animation.right-animate.element-show {
  opacity: 1;
  transition: all 1.5s;
  transform: translateY(0%);
}
.element-animation.element-show {
  opacity: 1;
  transition: opacity 1.5s;
}

.text{
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #556579;
}

.main-page{
    margin-top: 35px;
    height: 660px;
}

.main-photo-1{
    width: 455px;
}

.main-photo-2{
    width: 458px;
    max-width: 100%;
}

.date{
    width: 227px;

    padding-bottom: 0px;
    padding-left: 20px;

    font-family: 'Dynalight';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;

    letter-spacing: 0.44px;
    background: rgba(255, 255, 255, 0.75);
    z-index: 1;

    color: #5A6676;
}

h1{
    position: relative;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 62px;
    color: #5A6676;
    background: rgba(255, 255, 255, 0.75);
    z-index: 1;
}

.flower-main{
    position: relative;
    width: 310.96px;
    height: 400px;
    right: -65%;
    bottom: 63%;
}

nav{
    background: #7999A5;
    color: white;
}

@media (max-width: 992px) {
    .navbar-nav{
        align-items: center;
    }
}
@media (min-width: 992px) {
    .navbar-nav{
        gap: 100px;
    }
}

.nav-link{
    color: white;
}

main{
    background: #EEF2F3;
    height: auto;
}

.h2-greeding{
    font-family: 'Cormorant';
    font-style: italic;
    font-weight: 400;
    font-size: 50px;
    line-height: 61px;
}

.greeding-text{
    font-family: 'Cormorant';
    font-style: italic;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
}

button{
    color: white !important;
    background: #7999A5;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

.polaroid{
    box-sizing: border-box;
    width: 355px;
    height: 426px;
    background: url("../img/polaroid.png");
    border-width: 20px 30px 85px 30px;
    border-style: solid;
    border-color: #FFFFFF;
    transform: rotate(13deg);
}

.flower-polaroid{
    position: relative;
    width: 434px;
    max-width: 100%;
    bottom: 140px;
    left: 95px;
    transform: rotate(-10deg);
}

h2{
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 64px;
    text-align: center;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.timeline {
    position: relative;
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 15px 0;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 2px;
    background: #2C344D;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -1px;
}

.con {
    position: relative;
    width: 30%;
}

.con.left {
    left: 20%;
}

.con.right {
    left: 50%;
}

.con::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    top: calc(50% - 8px);
    right: -8px;
    z-index: 1;
}

.con.right::after {
    left: -8px;
}

.con::before {
    content: '';
    position: absolute;
    width: 90px;
    height: 2px;
    top: calc(50% - 1px);
    right: 0px;
    background: #2C344D;
    z-index: 1;
}

.con.right::before {
    left: 0px;
}

.con .icon {
    position: absolute;
    display: inline-block;
    z-index: 1;
    top: calc(10%);
}

.con.left .icon {
    right: -100px;
}

.con.right .icon {
    left: -100px;
}

.con .content {
    padding: 30px 100px 30px 0px;
    position: relative;
    text-align: end;
}

.con.right .content {
    padding: 30px 0px 30px 100px;
    text-align: start;
}

.con .content p {
    margin: 0;
}

.hints{
    position: relative;
    height: 1200px;
    padding-top: 50px;
}

.hint{
    position: relative;
    width: 457px;
    box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.25);
    transform: matrix(1, 0, 0, 1, 0, 0);
    padding: 30px 63px 70px 63px;
    text-align: center;
}

h3{
    font-family: 'Cormorant';
    font-style: italic;
    font-weight: 400;
    font-size: 30px;
}

.hint p{
    margin-top: 40px;
    font-family: 'Cormorant';
    font-style: italic;
    font-weight: 400;
    font-size: 25px;
}

.hint.left{
    left: 20%;
}
.hint.right{
    left: 50%;
}

.hint.gifts{
    background: #556579;
    color: white;
}

.hint.dress{
    background: white;
    top: -7%;
    z-index: 1;
}

.hint.mood{
    width: 360px;
    top: -12%;
    background: #7999A5;
    height: 390px;
    z-index: 2;
    padding: 15px 10px 10px 10px;
}

.hint.flower{
    background: white;
    top: -18%;
    z-index: 3;
    padding-bottom: 55px;
}

.moodbord{
    max-width: 90%;
    max-height: 95%;
}

.palitra{
    height: 50px;
    margin-top: 30px;
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.circle.blue{
    background: #7999A5;
}
.circle.dark-blue{
    background: #5A6676;
}
.circle.pink{
    background: #E8C9CD;
}
.circle.bej{
    background: #CEB599;
}
.circle.green{
    background: #A1B684;
}
.circle.brown{
    background: #775735;

}

.map iframe{
    position: relative;
    box-sizing: border-box;
    width: 555px;
    height: 561px;
    border-width: 20px 30px 70px 30px;
    border-style: solid;
    border-color: #FFFFFF;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    top: 10%;
    left: 10%;
    margin-bottom: 40px;
}

.map .flex-column{
    position: relative;
    right: -20%;
    width: 600px;
}

.map img{
    position: relative;
    right: 0;
    bottom: 0;
}

.fos{
    padding-bottom: 40px;
    background: white;
}

.flower-fos{
    position: relative;
    left: -13px;
    bottom: -40px;
}

form{
    position: relative;
    margin: 0 auto;
    width: 557px;
    min-height: 323px;
    background: #EEF2F3;
    box-shadow: 4px 4px 4px #556579;
    border-radius: 10px;
    padding: 45px 100px;
    z-index: 1;
}

form button{
    background: #556579;
}

.btn-outline {
    --bs-btn-color: #556579;
    --bs-btn-border-color: #7999A5;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #7999A5;
    --bs-btn-hover-border-color: #7999A5;
    --bs-btn-focus-shadow-rgb: 25,135,84;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #7999A5;
    --bs-btn-active-border-color: #7999A5;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #7999A5;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #7999A5;
    --bs-gradient: none;
}

footer{
    position: relative;
    height: 86px;
    background: #556579;
}

footer img{
    position: relative;
}

@media (max-width: 1039px), (min-width: 601px){
    h1{
        font-size: 50px;
    }
    .hint.left{
        left: 10%;
    }
    .hint.right{
        left: 40%;
    }
    form{
        max-width: 90%;
        padding: 45px 70px;
    }
}

@media (max-width: 600px){
    .text{
        font-size: 16px;
        line-height: 18px;
    }
    h1{
        font-size: 40px;
        line-height: normal;
        align-self: center;
    }
    .date{
        font-size: 35px;
        line-height: normal;
    }
    .main-page{
        margin-left: 0;
        height: 500px;
    }

    .flower-main{
        z-index: -1;
        right: 0%;
        bottom: 75%;
    }

    h2{
        font-size: 25px;
        line-height: normal;
    }

    .h2-greeding{
        font-size: 25px;
        line-height: normal;
    }

    .greeding-text{
        font-size: 20px;
        line-height: normal;
    }

    .polaroid{
        width: 320px;
        height: 391px;

    }

    .flower-polaroid{
        max-width: 300px;
        height: auto;
        transform: rotate(-17deg);

    }

    .greed{
        position: relative;
        bottom: 200px;
    }

    .con.left {
        left: 15%;
    }
    .con {
        position: relative;
        width: 35%;
    }

    .con .content {
        padding: 30px 120px 30px 0px;
        position: relative;
        text-align: end;
    }

    h3{
        font-size: 25px;
    }

    .hint p{
        font-size: 18px;
    }

    .hint{
        width: 65%;
        padding: 30px 33px 70px 33px;
    }
    .hint.left{
        left: 1%;
    }
    .hint.right{
        left: 35%;
    }
    .hint.dress{
        top: -5%;
    }
    .hint.mood{
        top: -10%;
        width: 65%;
        height: fit-content;
    }

    .hint.flower{
        top: -12%;
    }

    .circle{
        width: 38px;
        height: 38px;
    }

    .map iframe{
        max-width: 90%;
        height: 510px;
        top: 0%;
        left: 0%;
    }

    .map .flex-column{
        align-items: center;
        right: -5%;
        max-width: 90%;
    }

    form{
        max-width: 90%;
        padding: 45px 60px;
    }
}

@media (max-width: 391px){
    h1{
        font-size: 32px;
    }
    .date{
        font-size: 25px;
    }
    form{
        padding: 45px 20px;
    }
    .con.left {
        left: 5%;
    }

    .con {
        position: relative;
        width: 45%;
    }
    .con .content {
        padding: 30px 60px 30px 0px;
        position: relative;
        text-align: end;
    }
    .con.right .content {
        padding: 30px 0px 30px 60px;
        text-align: start;
    }
    .con::before {
        width: 50px;
    }
    .polaroid {
        width: 250px;
        height: 321px;
        border-width: 10px 10px 55px 10px;
        transform: rotate(10deg);

    }
    .flower-polaroid{
        width: 270px;
        height: auto;
        transform: rotate(-16deg);
        bottom: 115px;
        left: 75px;
        margin-bottom: 50px;
    }

    .hint{
        box-shadow: 6px 6px 3px rgba(0, 0, 0, 0.25);
    }

    .palitra .d-flex{
        flex-wrap: wrap;
        justify-content: space-around !important;
    }
    .hint.mood{
        top: -8%;
    }

    .hint.flower{
        top: -10%;
    }
    .map div p{
        padding: 0 50px;
        text-align: center;
    }
}